<!doctype html>
<html ng-app="patternfly.select">
<head>
    <!-- Angular-PatternFly Styles -->
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly.min.css">
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly-additions.min.css">
    <link rel="stylesheet" href="bower_components/angular-patternfly/dist/styles/angular-patternfly.min.css">
</head>
<body>
<div ng-controller="SelectDemoCtrl">

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="pet">Preferred pet:</label>
            <div class="col-sm-10">
                <select pf-select ng-model="pet" id="pet" ng-options="o as o for o in pets"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="fruit">Preferred fruit:</label>
            <div class="col-sm-10">
                <select pf-select ng-model="fruit" id="fruit">
                    <option value="orange">Orange</option>
                    <option value="apple" ng-selected="true" selected>Apple</option>
                    <option value="banana">Banana</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="drink">Preferred drink:</label>
            <div class="col-sm-10">
                <select pf-select="{ noneSelectedText: 'None' }" ng-model="drink" id="drink" ng-options="o as o for o in drinks">
                    <option value="">No drink selected</option>
                </select>
            </div>
        </div>

    </form>

    <p>Your preferred pet is {{pet}}.</p>
    <p>Your preferred fruit is {{fruit}}.</p>
    <p>Your preferred drink is {{drink}}.</p>

</div>

<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/jquery.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-combobox.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-datepicker.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/moment.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-datepicker.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-select.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-treeview.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/c3.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/d3.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/patternfly.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-sanitize.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-animate.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-bootstrap-prettify.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/lodash.min.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-patternfly.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-ui-router.min.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-drag-and-drop-lists.js"></script>

<script src="script.js"></script>
</body>
</html>