<div class="card-pf card-pf-accented">
    <div class="card-pf-heading">
        <h4 class="card-pf-title">{{name}}</h4>
    </div>
    <div class="card-pf-body">
        <table class="table-view-container table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{ item.name }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.state }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>